# This file is used to configure logging and agents behaviour.
#
# The first part consists of Wandb info used to log experiments.
# Changing it adjusts the way logging is stored and displayed.
#
# The second part (config) is used to change hyperparameter settings of agents.
# Changing it adjusts the way agents behave and learn.
project: "RL CartPole"
name: "Rainbow"
dir: "../logs"
notes: "Testing algorithm functionality, logging and model saving -- Rainbow (DQN, Dueling)."
mode: "online"
monitor_gym: "False"
config:
  # Environment, logging and saving control
  environment: "CartPole-v1"                # Environment to use
  algorithm: "Rainbow"                      # What kind of algorithm to use?
  save_dir: "../models/"                    # Where to save model?
  save_name: "RainbowCartPole"              # Model name
  save_interval: 25                         # How many previous episodes will be used to calculate mean reward?
  total_steps: 75000                        # For how many steps will the agent train?
  episode_steps: 999                        # How many steps before the episode is terminated?
  # Algorithm hyperparameters
  memory_size: 15000                        # How many steps can fit into the memory?
  learning_rate_policy: 0.001               # Learning rate for Q-Network
  gamma: 0.99                               # Discount factor
  epsilon_decay: 0.999                      # Only temporary! Later, noisy nets will be used
  warmup_steps: 1024                        # How many steps before agents starts optimising?
  batch_size: 128                           # How big will the batches used in optimization be?
  tau: 0.005                                # Polyak parameter