name: Pylint Check

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Run Pylint and Generate Badge
      uses: Snavs/pylint-badge-action@v1
      with:
        repository: ${{ github.repository }}
        file_name: pylint.svg
        user_id: ${{ github.actor }}
        args: --rcfile=.pylintrc